{% extends "base.html" %}

{% block content %}
<div class="pure-g-r content-ribbon">
    <div class="pure-u-1">
        <h2 class="login">Esqueci minha senha</h2>
        <form class="pure-form pure-form-aligned contato-form login" method="POST">
            {% csrf_token %}
            <fieldset>
                {{ form.non_field_errors }}

                {% for field in form %}
                <div class="pure-control-group login">
                    {{ field.label_tag }}
                    {{ field }}
                    {{ field.errors }}
                </div>
                {% endfor %}

                <div class="pure-controls cadastro">
                    <button type="submit" class="pure-button pure-button-primary ">Enviar</button>
                </div>
            </fieldset>
        </form>
        {% if success %}
            <p class="login">E-mail enviado com sucesso</p>
        {% else %}
            <p> <br> </p>
        {% endif %}
    </div>
</div>
{% endblock %}