{% extends "base.html" %}
{% block content %}
    <div class="pure-g-r content-ribbon" id="contato">
        <div class="pure-u-1">
            <h1 class="contato-titulo">Tire sua dúvida sobre o Curso</h1>
            <form class="pure-form pure-form-aligned contato-form" method="POST">
                {% csrf_token %}
                <fieldset>
                    {% for field in form %}
                    <div class="pure-control-group">

                        {{ field.label_tag }}
                        {{ field }}
                        {% if field.errors %}
                        <ul class="errorlist">
                            {% for error in field.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                   {% endfor %}

                    <div class="pure-controls">
                        <button type="submit" class="pure-button pure-button-primary">Enviar</button>
                    </div>
                </fieldset>
            </form>
            {% if is_valid %}
            <p class="m-sucesso">Formulário enviado com sucesso</p>
            {% else %}
            <p></p>
            {% endif %}
        </div>
    </div>
{% endblock %}